@font-face {
	font-family: Minecraft;
	src: url("../resources/Minecraft-Regular.otf")
}

.headercover {
	font-family: Minecraft;
	background-image: url("../images/headercover.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	padding: 120px 20px 120px;
	background-size: cover;
  max-height: 50%;
}
#pagemaintitle {
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	margin-bottom: 0px;
}
#pagesubtitle {
	background-color: rgba(60,60,60,0.5);
	padding: 10px;
	margin-top: 0px;
}
#displayImage {
  /*Don't make a low-res image appear blurry when enlarging*/
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#footertitle {
  font-family: Minecraft;
  color: white;
}

.modal-backdrop.show {
  opacity: 0.7;
}
.bg-light {
  background-color: rgb(240,240,240) !important;
}
.sizezero {
  height: 0px;
  width: 0px;
}
code {
  /*color: maroon;*/
}
kbd {
  background-color: #555555;
  white-space: nowrap;
}

/* Don't use bootstrap's .modal as static or it will never close */
#spinnerModal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  z-index: 1051;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}
#spinnerModalHeading {
  z-index: 1061;
}

#demoCarousel {
  max-width: 750px;
}

.checkbox-scaled input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

.delete-X:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
  font-size: 120%;
}

#survGuidePlaceholderText {
  padding-left: 200;
  padding-right: 200;
}

@media (max-width: 768px) {
  .checkbox-scaled input[type=checkbox] {
    -ms-transform: scale(1.0); /* IE */
    -moz-transform: scale(1.0); /* FF */
    -webkit-transform: scale(1.0); /* Safari and Chrome */
    -o-transform: scale(1.0); /* Opera */
    transform: scale(1.0);
    padding: 5px;
  }
  #colourPaletteTable thead th {
    font-size: 90%;
    padding: 6px;
  }
  #colourPaletteTable .colour-insert {
    padding: 0;
  }
  #colourPaletteTable .colour-insert svg {
    width: 0.75em;
    height: 0.75em;
  }
  #colourPaletteTable td:nth-child(4) {
    font-size: 80%;
    padding: 10px 2px;
  }
  #colourPaletteTable td:nth-child(3) {
    font-size: 85%;
    max-width: 20%;
    word-spacing: 80%;
  }
  #survGuidePlaceholderText p {
    width: 100% !important;
  }
}