<div class="container-fluid headercover" id="pageHead">
	<div class="container-sm">
		<h1 class="text-center text-white rounded-top" id="pagemaintitle">Map Art Maker for Minecraft</h1>
		<h5 class="text-center text-white rounded-bottom py-md-1" id="pagesubtitle">Upload images and create an Add-On (Bedrock edition 1.20.0+) that builds the image in your world, to view it on a map!</h5>
	</div>
</div>
<div class="container-fluid bg-dark"><br></div>
