<!doctype html>
<html lang="en">

<%- include('head.ejs', {page: 'index'}) %>

<body data-confirm-page-unload="0">

<%- include('bodyheader.ejs', {page: 'index'}) %>

<noscript class="alert alert-danger container-fluid d-block rounded-0">
  <strong>No script</strong> <br> Javascript appears to be disabled ! Please allow this app to run Javascript 
  (from your browser settings) in order for it to function.
</noscript>
<div class="container-lg justify-content-lg-center mx-auto my-5" id="pageMainContent">
  <div class="alert alert-info alert-dismissible fade show">
    <h4 class="alert-heading">How this app works</h4>
    <p>Map Art Maker for Minecraft pixelates and reduces the colour palette of your uploaded image to one that can be shown 
      in Minecraft maps using vanilla blocks. It then identifies the coordinates and exact blocks to place in your world for
			each pixel, so that a map of the area will display the final image !</p>
    <ul> <li> The placement is automated by writing commands into a <a class="alert-link" rel="nofollow noreferrer"
      href="https://www.minecraft.net/en-us/addons" target="_blank"> behaviour pack </a>. These can be readily executed 
      using a few '/function' commands in-game, through a command block or by a player.</li> <li>The packs are valid for 
      the latest version of Minecraft on supported Bedrock edition devices - Win 10, Android, iOS, etc </li>
    </ul>
    <p> This web app is <a class="alert-link" target="_blank" rel="noreferrer" href="https://github.com/gd-codes/mc-pixelart-maker">open source</a> !
      It is <a class="alert-link" target="_blank" href="./about.html">not</a> officially associated with Minecraft or Mojang.</p>
    <p> Other technical explanation, and an example add-on for download, can be found <a href="./manual.html#example-pack"
      target="_blank" rel="nofollow" class="alert-link">here</a>.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
    <span aria-hidden="true">&times;</span> </button>
  </div>
  <div class="container-lg text-center text-capitalize"><h3>Upload Images</h3></div>
  <div class="container bg-light rounded-top py-3 px-4 mt-4 mb-0 d-flex justify-content-between
              border border-dark border-bottom-0">
    <ul class="nav nav-tabs" id="navbarList">
      <!-- Filled by JS -->
    </ul>
    <button class="btn btn-success rounded rounded-pill" id="addNewImgBtn" title="Add Another Image">
      <svg width="2em" height="2em" viewbox="0 0 16 16" class="bi bi-plus" fill="currentColor" 
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
    </button>
  </div>
  <div class="container tab-content border border-dark border-top-0 rounded-bottom mt-0 mb-4 p-0 position-relative" 
       id="tabContainer">
  <!-- Filled by JS -->
  <p class="text-danger" id="tempErrDialog">Oops, the Javascript did not finish loading correctly! Please refresh the page.</p>
  </div>
  <div class="container-lg text-center text-capitalize"><h3>Create the Add-On</h3></div>
  <div class="container tab-content border border-dark rounded py-3 px-4 my-4" id="packContainer">
    <form id="packForm" novalidate>
      <span class="row form-text text-muted px-3 d-block mb-3">Enter a name and an optional description for your behaviour
        pack (These will be displayed in Minecraft) :</span>
      <div class="form-group row">
        <label for="bpackNameInput" class="col-sm-2 col-form-label text-primary text-right">Name</label>
        <input type="text" id="bpackNameInput" class="col-sm-10 form-control" placeholder="Amazing Pixel Art">
      </div>
      <div class="form-group row">
        <label for="bpackDescInput" class="col-sm-2 col-form-label text-primary text-right">Description</label>
        <textarea id="bpackDescInput" class="col-sm-10 form-control" rows="3"
                  placeholder="Created using Map Art Maker for Minecraft !"></textarea>
      </div>
      <span class="row form-text text-muted px-3 d-block mb-3">Some additional settings - the default values are recommended</span>
      <div class="form-group row">
        <label for="funcOptionsDiv" class="col-sm-2 col-form-label text-primary text-center">Command Options</label>
        <div id="funcOptionsDiv" class="form-group col-sm-10">
          <div class="form-check">
            <input type="checkbox" id="keepBlocks" class="form-check-input" name="keepBlocksOption" value="keep"/>
            <label for="keepBlocks" class="form-check-label"> Replace only air blocks </label> 
            <a data-toggle="tooltip" data-placement="top" class="text-info add-questionmark" aria-label="Explanation popup"
            title="Will not overwrite existing structures in the area that the commands are being executed, if there are any.
            This may result in &quot;gaps&quot in the image." data-delay="{&quot;show&quot;:200, &quot;hide&quot;:1500}">
           </a>
          </div>
          <div class="form-check">
            <input type="checkbox" id="useLinkedPos" class="form-check-input" name="linkedPosOption" value="link"/>
            <label for="useLinkedPos" class="form-check-label"> Use the same starting coordinate for all functions </label>
            <a data-toggle="tooltip" data-placement="top" class="text-info add-questionmark" data-html="true" 
            title="The map will contain atleast 2 commands to be run in sequence to build it.
            If this option is enabled, you can run all of them from the same location, without moving to the next region
            each time (Explained in the <a href=&quot;manual.html&quot; target=&quot;_blank&quot;>manual</a>). But placing 
            blocks far away outside loaded chunks <i>may</i> fail, which is why this is unchecked by default." 
            data-delay="{&quot;show&quot;:200, &quot;hide&quot;:1500}" aria-label="Explanation popup"></a>
          </div>
          <div class="form-check">
            <input type="checkbox" id="buildWithStructures" class="form-check-input" name="useStructuresOption" value="structs"/>
            <label for="buildWithStructures" class="form-check-label"> Use only structures instead of the setblock command </label>
            <a data-toggle="tooltip" data-placement="top" class="text-info add-questionmark" aria-label="Explanation popup" data-html="true" 
            title="Use this to include all used blocks as structures and load them with the <code>/structure load</code> command instead
            of placing regular blocks with <code>/setblock</code>. This can avoid gaps in the map due to blocks not being placed outside 
            the simulation distance, but may be a bit slower to run or cause lag initially." data-delay="{&quot;show&quot;:200, &quot;hide&quot;:1500}">
            </a>
          </div>
        </div>
      </div>
      <div class="form-group row" id="packActionsPreProcess">
        <div class="col-md-4"></div><div class="col-md-4">
          <button id="writePackBtn" class="btn btn-primary btn-block">Write Functions</button>
        </div><div class="col-md-4"></div>
      </div> 
    </form>
    <div class="container d-none" id="packActionsPostProcess"><div class="row my-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <button id="downloadPackBtn" class="btn btn-success btn-block font-weight-bold">Download &nbsp;
          <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-download" fill="currentColor" 
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg></button>
      </div>
      <div class="col-md-4"></div></div>
      <div class="text-muted text-center my-3">If the download button doesn't work, try 
        <a id="altDownloadPack" href="">this link</a> for small packs.</div>
      <div class="alert alert-warning mt-4">
        <svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" 
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg> &nbsp; 
          The pack is a zip file with a '.mcpack' extension. If Minecraft is already installed, 
        just double click it to launch the game and import it on PC, or read the installation steps
        <a href="https://docs.microsoft.com/en-us/minecraft/creator/documents/addonpackinstallation?tabs=Windows10#installing-add-on-instructions"
         class="alert-link" rel="nofollow noreferrer" target="_blank"> for your device</a>.
      <br>Apply it to your world (cheats must be enabled) and run each of the functions - there will be 2 to 32
      for each image depending on the selected area. <a class="alert-link" href="manual.html#in-mc" target="_blank">
        <u>Read this info page</u></a> for more detailed instructions.</div>
      <div class="row my-2"><a class="btn-sm btn btn-outline-danger" id="resetAddonDiv"> Reset </a></div>
    </div>
  </div>
  <div class="container-lg text-center text-capitalize"><h3>Survival Guide</h3></div>
  <div class="container bg-light rounded-top py-3 px-4 mt-4 mb-0 d-flex justify-content-between
              border border-dark border-bottom-0">
    <ul class="nav nav-tabs" id="guideTabList"></ul>
  </div>
  <div class="container border border-dark border-top-0 border-bottom-0 py-3 px-4 my-0" id="survGuidePlaceholderText">
      <p class="d-block w-75 text-muted text-center mb-0 mx-auto"> If you want to take up the challenge of building the 
      map art by yourself without using commands, this section can help by showing you block-by-block placement of the 
      processed images !<br/>The options to generate these will appear here after processing an image.</p>
  </div>
  <div class="container tab-content border border-dark border-top-0 rounded-bottom py-3 px-4 mt-0 mb-4" 
       id="guideTabsContainer">
  </div>
  <div class="mx-auto my-4 px-3 mt-5" id="carouselContainer">
    <div id="demoCarousel" class="carousel slide carousel-fade mx-auto">
      <ol class="carousel-indicators">
        <li data-target="#demoCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#demoCarousel" data-slide-to="1"></li>
        <li data-target="#demoCarousel" data-slide-to="2"></li>
        <li data-target="#demoCarousel" data-slide-to="3"></li>
        <li data-target="#demoCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" id="cari1">
          <img class="d-block w-100" alt="Showcase image 1">
        </div>
        <div class="carousel-item" id="cari2">
          <img class="d-block w-100" alt="Showcase image 2">
        </div>
        <div class="carousel-item" id="cari3">
          <img class="d-block w-100" alt="Showcase image 3">
        </div>
        <div class="carousel-item" id="cari4">
          <img class="d-block w-100" alt="Showcase image 4">
        </div>
        <div class="carousel-item" id="cari5">
          <img class="d-block w-100" alt="Showcase image 5">
        </div>
      </div>
      <a class="carousel-control-prev shadow" href="#demoCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#demoCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon shadow" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<%- include('bodyfooter.ejs', {page: 'index'}) %>

<div class="modal fade" id="imageDisplayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgModalLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto" id="imgModalContent">
        <canvas id="imgModalCanvas" class="d-block mx-auto my-auto" width="0" height="0"></canvas>
        <img id="displayImage" class="d-block mx-auto my-auto" alt="Image Preview">
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <a id="downloadImageButton" class="btn btn-outline-secondary">Download Image</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="colourTableModal" tabindex="-1" 
     aria-labelledby="Modal displaying the colour list" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colourModalLabel">Colour Table</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body overflow-auto" id="colourModalContent">
        <p> Following is the list of 65 colours used by default blocks in Vanilla Minecraft <strong>1.20.0</strong> :<br> 
        Tick the blocks you would like to use, and scroll to the end to Save. </p>
        <div class="btn-toolbar" role="toolbar" aria-label="Selection controls" id="colourModalSelections">
          <span> Select : &nbsp;&nbsp;</span>
          <div class="btn-group btn-group-sm my-1" role="group">
            <button type="button" class="btn btn-outline-primary" id="clrSelBtn_All"> All </button>
            <button type="button" class="btn btn-outline-primary" id="clrSelBtn_None"> None </button>
            <button type="button" class="btn btn-outline-primary" id="clrSelBtn_Inv"> Invert Selection </button>
          </div>
          <span> &nbsp; &nbsp; </span>
          <div class="btn-group btn-group-sm my-1" role="group">
            <button type="button" class="btn btn-outline-info" id="clrSelBtn_Dye"> Select only 16 dyes </button>
          </div>
          <span> &nbsp; &nbsp; </span>
          <div class="btn-group btn-group-sm my-1" role="group">
            <button type="button" class="btn btn-outline-info" id="clrSelBtn_NB"> Unselect biome dependent colours
            </button>
          </div>
          <span> &nbsp; &nbsp; </span>
          <div class="btn-group btn-group-sm my-1" role="group">
            <button type="button" class="btn btn-outline-info" id="clrSelBtn_greys"> Greyscale shades only
            </button>
          </div>
        </div>
        <p></p>
        <div class="container-fluid w-100" id="colourModalTableArea">
          <table class="table" id="colourPaletteTable">
            <thead class="thead-light"><tr>
              <th scope="col"> Select </th>
              <th scope="col" colspan="2"> Colour </th>
              <th scope="col"> Blocks </th>
            </tr></thead>
            <tbody><!--filled by JS--></tbody>
          </table>
          <p> Not included : Water, Lava, Beds, Vines and blocks that are transparent on maps </p>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-success" data-dismiss="modal" role="button" id="saveColoursBtn"> 
        Save Changes </button>
      </div>
        </div>
    </div>
</div> 
<div class="d-none" id="spinnerModal" tabindex="-1" aria-hidden="true">
  <div class="mx-auto mt-5">
    <h4 class="text-white text-center" id="spinnerModalHeading">Processing...</h4>
    <div class="spinner-border text-info my-4 text-center mx-auto d-block" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="d-none sizezero" id="hiddenDiv">
  <canvas id="testCanvas"></canvas>
  <img id="logoImg" src="images/logo_128px.png"/>
</div>

</body>
</html>
