<!doctype html>
<html lang="en">

<%- include('head.ejs', {page: 'manual'}) %>

<body>

<%- include('bodyheader.ejs', {page: 'manual'}) %>

<div class="container-lg justify-content-lg-center mx-auto my-5 py-3" id="pageMainContent">
  <div class="container-lg text-center text-capitalize" id="manual"><h3>Manual<br><hr><br></h3></div>
  <div class="alert alert-dismissible alert-success fade show">
    <div class="text-center pt-2">This <em>isn't</em> the main page of this application !</div>
    <button type="button" class="close" data-dismiss="alert"> <span aria-hidden="true">&times;</span></button>
    <div class="my-4 row"><div class="col-md-4"></div>
    <div class="col-md-4 px-2"><a href="index.html" class="btn btn-block btn-success">
      Back to the App &nbsp;
      <svg width="1.5em" height="1.5em" viewbox="0 0 16 16" class="bi bi-controller" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.119 2.693c.904.19 1.75.495 2.235.98.407.408.779 1.05 1.094 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.815-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773a11.307 11.307 0 0 1-.739-.809c-.126-.147-.25-.291-.368-.422-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.422-.243.283-.494.576-.739.81-.398.378-.877.705-1.513.772a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772.486-.485 1.331-.79 2.235-.98.932-.196 2.03-.292 3.119-.292 1.089 0 2.187.096 3.119.292zm-6.032.979c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.505C4.861 9.97 5.978 9.026 8 9.026s3.139.943 3.965 1.855c.164.182.307.35.44.505.214.25.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z"/>
  <path d="M11.5 6.026a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-7-2.5h1v3h-1v-3z"/>
  <path d="M3.5 6.526h3v1h-3v-1zM3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .258.966l-1.932.518a.5.5 0 0 1-.612-.354zm9.976 0a.5.5 0 0 0-.353-.613l-1.932-.518a.5.5 0 1 0-.259.966l1.932.518a.5.5 0 0 0 .612-.354z"/>
</svg></a></div>
  <div class="col-md-4"></div></div>
  </div>
  <h4 class="container-lg text-center text-capitalize" id="compatibility">Browser Compatibility<br><br></h4>
  <p> It is recommended to use this app on a desktop/laptop instead of on mobile. </p> 
  <p> The app has been tested on recent versions of Google Chrome, Safari and Microsoft Edge. 
    Internet Explorer is <em>not</em> fully compatible. Since this is a client-side app (It is run entirely by your browser,
    no data is sent back the server for processing !), some essential functions may not
    work if your browser hasn't been updated for a long while, or your device places many
    restrictions on it. Javascript <b><i>must</i></b> be enabled for this site.</p>
  <p>This site does not use any cookies.</p>
  <p><strong class="h6">PWA :</strong> This app can work offline, using the features of Progressive Web Apps <a class="text-info" rel="nofollow noreferrer"
      href="https://en.wikipedia.org/wiki/Progressive_web_application" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" class="bi bi-question-circle"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
      </svg></a> &nbsp;. Click the '<i class="text-monospace">Try Offline</i>' button in the footer to cache the resources 
      to do so (this will only take around 3 MB of space). If your browser supports these features, it will show you an option
      to install this website as a native application on your system ! On mobile, you can equivalently save it to the Home Screen.<br>
      Note : On desktop, PWAs may not be fully supported in browsers other than recent versions of Chrome, Edge & Safari. 
      Even without the installable app, you will be able to use the website without an internet connection.
      You can clear the cached website from your browser settings if you wish to do so.
  </p>
  <h4 class="container-lg text-center text-capitalize" id="web-app"><br>Miscellaneous notes<br><br></h4>
  <ul class="mt-1">
    <li> When you create the add-on, commands to build all the images that were uploaded <i>and</i> processed
      will be written into it. Even a single map contains 128&times;128 = 16384 visible blocks to be placed (which is a 
      lot !), so the commands are split into 2 sets per map and written into seperate function files (they are
      regular commands like <code>/setblock</code>, but Minecraft can then execute upto 10,000 (by default) of them 
      <em>at once</em> from these files). More instructions on running the functions are given <a href="#in-mc">below</a>.
      <br><a href="https://minecraft.wiki/w/Function_(Bedrock_Edition)" rel="nofollow noreferrer">
      Read more</a> about functions in Minecraft.</li><br>
    <li> The converted images seen after you click the 'Process Image' button may vary slightly (especially in the "noise"
      generated due to Image Dithering) depending on your device / browser (Since part of the image resizing operations are
      performed by your browser). This is unavoidable. </li><br>
    <li> The commands use relative <b>&tilde;</b> (<a  rel="nofollow noreferrer"
      href="https://minecraft.wiki/w/Coordinates#Relative_world_coordinates">tilde notation</a>) to
    specify the positon, so that the image can be built wherever you (the player, or a command block if you are using
    one) are located in your world when starting, instead of a specific area every time.</li><br>
    <li>For the 3D arrangement, the max height specification only ensures that blocks do not get
    placed <i>beyond</i> that height, but the limit may not be reached at all - it depends on the colours in the
    image. You may find, after building it, that the blocks did not reach that height anyway. <br> The limit does not 
    majorly affect the final appearance. (The shade of each block depends on the height difference between it and the block
    immediately North of it. This is usually 2 blocks, but may have to abruptly change near the height limit. For this reason,
    it is recommended not to keep a very low limit.)</li><br>
    <li>The fill commands to clear the map volume of existing blocks (default, unless you checked the "Replace only air blocks"
       option) may fail in case your simulation distance is too low. In this case, existing terrain above and below the 3D map blocks
      will remain, possibly hiding the blocks that were placed there.</li><br>
  </ul>
  <h4 class="container-lg text-center text-capitalize" id="in-mc"><br><br>In Minecraft<br><br></h4>
  <ol class="spaced-list">
    <li> Import and apply the behaviour pack to your world(s). <br> <strong class="text-muted">Note : </strong >Cheats &amp;
      Operator permissions must be enabled to use functions. If you want to earn achievements in that world or keep cheats 
      off, you'll have to place the blocks manually (You can look at the Survival Guide for some help).</li>
    <li> Go to the location where the image is to be built, and open a Level 0 (smallest size) map there. Check that the
      starting block you choose is aligned with the top-left (NW) corner of the map !<br>
      This block will be the top left (North-West) corner of the entire image (see the green marker in the figure below), 
      which will extend South and East from here. <br> Height-wise, it will be built at the block in which you are standing (2D),
      or for the 3D palette, extending from this height till [<i>specified height range</i>] blocks upwards
      (Also check that this doesn't cross the world build height!).</li>
    <li> <div class="row"><div class="col-md-8">If your image covers an area of <b><i>a</i></b>x<b><i>b</i></b>
      maps, there will be <code>2 * <b><i>a</i></b> * <b><i>b</i></b></code> commands to be executed in order,
      numbered <i>image_name</i>/<b>1</b>, <i>image_name</i>/<b>2</b>, ... so on.
      Each of these builds a part of the image, covering a vertical half of one map, arranged in order as illustrated
      in the figure alongside.<br>
      <ul><li class="py-2"> By default, running each function will teleport you (the nearest player) to the corner of 
        the next zone (marked by small black squares in the figure) after it executes, so that you "move along" as you're 
        running the functions one-by-one. A glowstone block may also be placed there to identify the corner - you must be standing 
        <em>exactly on top</em> of it before continuing with the next one.</li>
        <li>If '<i class="text-monospace">Use same starting coordinates</i>' was enabled during pack creation, 
          you will not be teleported and must run all the commands while staying at this same corner only (top-left of the whole image).</li>
      </ul></div>
      <div class="col-md-4"><figure class="figure">
        <img src="images/layout_big.png" class="img-fluid figure-img" alt="Example layout diagram">
        <figcaption class="figure-caption">Example arrangement for an art covering 2x2 maps.</figcaption></figure></div>
      </div></li>
    <li>The syntax of the function command is <kbd>/function&nbsp;<i>image_name</i>/<i>number</i></kbd>.<br>
    For example, if your image's name was <i>wallpaper</i>, and its size was 2x1 maps, you would need to run
      the commands <pre class="pl-4 mb-0"><code>/function wallpaper/1
/function wallpaper/2
/function wallpaper/3
/function wallpaper/4</code></pre><br>
    <strong class="text-black">Note :</strong> You may need to <em>restart Minecraft</em> and then run the <kbd>/reload</kbd> command first,
      in case they don't appear in the commands screen or minecraft hasn't recognised the functions <br> &nbsp;</li>
    <li><span class="lead" id="in-mc-done">You're Done !</span><p> Once you've constructed the image, map the entire area covered by it
      and build a map wall for your pixel art !<br> It's also a good idea to <a rel="nofollow noreferrer"
      href="https://minecraft.wiki/w/Cartography_Table#Usage" >lock the maps</a> with glass panes to prevent them
      from updating if some other structures are built above them, or if the colour palette changes in future updates.</p>
      <br/><p>
        <strong class="text-black">Note :</strong> If you see that many blocks are missing, especially in a zig-zag like pattern
        along chunk borders near the bottom half of each zone (see <a href="https://github.com/gd-codes/mc-pixelart-maker/issues/5" target="_blank">
          Issue#5</a> on GitHub), it is probably due to your simulation distance being too low. You can try the following fixes :
        <ul>
          <li>Ensure that the '<i class="text-monospace">Use same starting coordinates</i>' option is disabled. Re-generate the add on if you had used it.</li>
          <li>Increase your simulation distance further (at least equal to or more than 10 chunks). Although the upper limit allowed by Minecraft is device-depenedent.</li>
          <li>Ask a friend or other player to join your world and stand near that opposite corner to keep those chunks loaded while you run the commands</li>
          <li>If the '<i class="text-monospace">Use only structures</i>' command option in the addon generator options wasn't checked, enable it and try again. You may
            need to move around the map to bring all chunks briefly into simulation distance for the structure to complete loading.</li>
        </ul>
      </p>
    </li>
  </ol>
  <br><hr>
  <h4 class="container-lg text-center text-capitalize" id="example-pack"><br><br>Example behaviour pack<br><br></h4>
  <p> This is the file structure of an example behaviour pack generated by this app. It contains 2 
  images - one with the function name "cliff" of size 2x1, and another named "bastion" of
  size 3x2. You can run the commands as <a href="#in-mc">described above</a> to build these images.</p>
  <pre class="bg-light px-3 mx-3 my-2 border border-dark rounded"><code>
  behaviour pack.mcpack
   &boxv;
   &boxvr;&boxh; manifest.json
   &boxvr;&boxh; pack_icon.png
   &boxvr;&boxh; structures/
   &boxv;    &boxur;&boxh; mapart/
   &boxv;         &boxur;   ...
   &boxur;&boxh; functions/
        &boxvr;&boxh; cliff/
        &boxv;    &boxvr;&boxh; 1.mcfunction
        &boxv;    &boxvr;&boxh; 2.mcfunction
        &boxv;    &boxvr;&boxh; 3.mcfunction 
        &boxv;    &boxur;&boxh; 4.mcfunction
        &boxur;&boxh; bastion/
             &boxvr;&boxh; 1.mcfunction
             &boxvr;&boxh; 2.mcfunction
             &boxvr;     ...
             &boxur;&boxh; 12.mcfunction
  </code></pre><br>
  <div class="row"><div class="col-4"></div>
    <div class="col-4"><a class="btn btn-block btn-warning mx-auto" href="resources/sample_pack.mcpack" 
                          download="sample_pack.mcpack"> Download a sample pack </a>
      <!--form method="get" action="resources/all_link_keep.zip">
      <button class="btn btn-block btn-warning mx-auto" type="submit">Download a sample pack</button></form-->
    </div><div class="col-4"></div></div><br>
  <ul><li> The <code>manifest</code> specifies : 
      <ul> <li> The minimum game version - <code> 1.20.0</code> (of Minecraft)</li> 
        <li> Behaviour pack version - <code>1.0.0</code> is used for each pack by default. (Only this sample pack has version 4.5.0)</li> 
        <li> The name and description that you entered, will be displayed for the add-on in game.</li>
        <li> 2 version-4 <a  rel="nofollow noreferrer" href="https://en.wikipedia.org/wiki/Universally_unique_identifier">
          UUIDs </a> to uniquely identify the pack, generated randomly using the JS web Crypto API.</li></ul> 
      You can always edit the icon or manifest if you prefer to make any changes later on.</li><br></ul>
  <p>The pack contains some structures (with block data) of a few blocks that may decay or need support (non-solid blocks)
    etc - these structures are used instead of the setblock command to overcome those limitations. Every pack will contain
    these even if they are not used in any image(s).</p>
  <p> To view/edit/replace the files inside, just rename the <code>.mcpack</code> extension to <code>.zip</code>
  and extract all contents using any Compressed (ZIP) folder utility.</p>
  <br><hr><br>
  <div class="text-center lead"><a href="#manual">Back to top &uarr;</a> </div>
</div>

<%- include('bodyfooter.ejs', {page: 'manual'}) %>

</body>
</html>
